.label,
.button {
  display: block;
  margin-bottom: 5px;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 8px;
}

.button {
  background-color: #0084ff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .button {
    margin-bottom: 20px;
  }

  .input {
    width: 90%;
  }
}
